:root {
  --text: #050505;
  --bg: #fafafa;
  --primary: #fe7a7d;
  --secondary: #fece71;
  --accent: #11cdee;
  --primarysection: #999999;
  --primarycontrast: #64d97b;
  --secondarycontrast: #64d97b;
  --accentcontrast: #ff8f8f;
  --textcontrast: #64d97b;
  --bgcontrast: #64d97b;

  --h1: 48px;
  --h2: 32px;
  --subtitle: 24px;
  --p: 18px;
  --sub: 16px;
  --small: 14px;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

p {
  font-size: var(--p);
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover,
a:active {
  color: var(--text);
}

body {
  width: auto !important;
  background-color: var(--bg);
  color: var(--text);
  margin: 0 5%;
  display: flex;
  flex-direction: column;
}

/* nav bar */

nav {
  width: 100%;
  height: 100px;
  margin-bottom: 3rem;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.color-effect {
  background: linear-gradient(120deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav .menu {
  gap: 2em;
  display: flex;
  justify-content: space-around;
}

.menu-item {
  font-size: var(--sub);
  width: 100%;
  padding: 1em;
  transition: 0.3s ease-in-out;
}

.menu-item:hover {
  transform: translate(-8px, 4px);
  box-shadow: 8px -4px var(--accent);
  background-color: rgba(254, 206, 113, 0.8);
}

/* hero */

.hero {
  padding: 0 2em;
  width: 100%;
  min-height: calc(100vh - 100px - 3rem);
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
  justify-content: space-between;
}

.hero-text {
  display: flex;
  flex-direction: column;
  max-width: 45em;
  justify-content: center;
}

.subtitles {
  font-size: var(--subtitle);
  color: var(--text);
  margin: 1.5em 0 3em 0;
}

.hero-img {
  align-self: center;
  display: flex;
  justify-content: flex-end;
}

.hero-img > img {
  width: 100%;
}

.hero-buttons {
  display: flex;
  gap: 2em;
}

.hero-buttons a {
  padding: 1em 2em;
  border-radius: 6px;
  font-size: var(--p);
  color: var(--text);
}

.hero-buttons .primary-button {
  background-color: var(--primary);
  color: var(--bg);
  transition: 0.3s ease;
}

.secondary-button {
  transition: 0.3s ease;
  background-color: var(--secondary);
}

.primary-button:hover,
.secondary-button:hover {
  transform: translate(0, -3px);
}

@media (max-width: 70em) {
  .hero-text > h1 {
    font-size: 42px;
  }

  .subtitles {
    font-size: 22px;
  }
}

@media (max-width: 60em) {
  .hero {
    grid-template-columns: 1fr;
  }

  .hero-text > h1 {
    font-size: 48px;
  }

  .hero-text {
    text-align: center;
  }

  .hero-buttons {
    align-self: center;
  }

  .hero-img {
    display: none;
  }
}

@media (max-width: 40em) {
  nav {
    margin-bottom: 2rem;
  }
  .hero {
    min-height: calc(100vh - 100px - 2rem);
    padding: 0 0.5rem;
  }

  .hero-text > h1 {
    font-size: 32px;
  }

  .header > .hide {
    display: none;
  }

  .hero-buttons {
    display: flex;
    gap: 0.8em;
  }

  .hero-buttons a {
    padding: 0.8em 1.6em;
    border-radius: 4px;
    font-size: var(--small);
  }

  .subtitles {
    font-size: 18px;
  }
}

/* topics section */

.topics {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.topics h2 {
  padding: 0.5em 1em;
  transition: 0.5s ease;
  margin-bottom: 3em;
}

.topics:hover > h2 {
  transform: translate(-8px, 4px);
  box-shadow: 12px -8px var(--accent);
  background-color: rgba(254, 206, 113, 0.8);
}

.topics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.container {
  display: flex;
  flex-direction: column;
}

.topics-items {
  background-color: rgba(254, 206, 113, 0.8);
  border-radius: 10px;
  padding: 1em;
  gap: 2em;
  align-items: center;
  transition: 0.3s ease;
}

.topic-type {
  text-align: center;
  font-size: var(--p);
}

.topics-items:hover {
  background-color: rgba(254, 122, 125, 0.6);
  transform: translate(0, -10px);
}

/* footer */

.footer {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 3em 5em;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  background: var(--text);
  color: var(--bg);
}

.footer-upper {
  width: 100%;
  min-height: 10em;
  display: grid;
  grid-template-columns: 4fr 3fr 3fr;
  gap: 1em;
}

.footer h3 {
  font-size: var(--subtitle);
}

.footer p {
  font-size: var(--small);
}

.footer-upper .logo {
  grid-column-start: 3;
  justify-self: flex-end;
  padding: 0.5em;
}

.footer-upper .logo a {
  font-size: var(--h2);
  color: var(--bg);
}

.color-effect-contrast,
.color-effect-contrast i {
  background: linear-gradient(120deg, var(--primarycontrast), var(--accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer .container {
  padding: 0.5em;
  grid-row: 1 / span 2;
}

.icons .fa {
  font-size: var(--p);
  transition: 0.5s;
  padding: 0.5em;
}

.icons .fa:hover {
  transform: translate(-6px, 3px);
  box-shadow: 6px -3px var(--accent);
}

.attribution {
  grid-column: 2 / span 2;
  padding-right: 0.5em;
  margin-top: 2em;
  align-self: flex-end;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer .attribution p {
  font-size: 10px;
}

.attribution a {
  color: var(--primarycontrast);
}

.separator {
  margin-top: 1em;
  width: 95%;
  height: 1px;
  background-color: var(--bg);
  opacity: 0.3;
}

.footer-box {
  padding: 0 0.5em;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 60em) {
  .footer .feedback {
    width: 100%;
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  .footer .connect {
    grid-row-start: 2;
    grid-column: 1;
  }
}

@media (max-width: 50em) {
  .footer-upper {
    grid-template-columns: 1fr;
  }

  .footer-upper .logo {
    justify-self: flex-start;
  }

  .footer .footer-upper div {
    grid-column: 1;
    grid-row: auto;
  }
  .footer-box {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
}

@media (max-width: 40em) {
  .footer {
    padding: 2em 10%;
  }

  .footer h3 {
    font-size: 20px;
  }
}

.coming-soon {
  position: relative;
  background-color: rgba(254, 206, 113, 0.1);
}

.coming-soon > img {
}

.coming-soon::before {
  translate: 0px -0.5em;
  position: absolute;
  content: "Coming Soon!";
  width: 100%;
  height: 100%;
  color: var(--accentcontrast);
  border-radius: 10px;
  background: rgba(254, 206, 113, 0.5);
  font-size: var(--h2);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coming-soon:hover {
  background-color: rgba(254, 206, 113, 0.3);
  transform: translate(0, -5px);
}

/* PathFinding */

.content {
  margin-top: -5em;
  width: 100%;
  height: calc(100vh - 92px);
  border: 2px solid red;
  padding: 3em;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.animation-board {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  border: 4px solid var(--secondary);
  border-radius: 1em;
  border-top-left-radius: 0;
  max-width: 70%;
}

.animation-board::before {
  content: "Board";
  font-size: var(--p);
  color: var(--text);
  background-color: var(--secondary);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  align-self: flex-start;
  padding: 0.5em 1em;
  translate: -4px -2.3em;
}

.animation-area {
  margin: 2em;
  background-color: #1169ee2c;
  width: 50vw;
  height: 50vw;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}

.animation-controls {
  padding: 0 5%;
  border: 2px solid red;
  flex: 0;
  margin: 1em 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

.controls {
  flex: 0.5 0.5 auto;
  border: 2px solid red;
}

.block {
  background-color: #11e7ee2c;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  border: 1px solid #1169ee2c;
}

.block-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.animation-controls button {
  background-color: var(--secondary);
  padding: 8px 16px;
  color: var(--bg);
}

.animation-controls button i {
  padding: 0;
  padding-right: 9px;
}
